* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c0c0c0; /* Light grey background */
    font-family: Arial, sans-serif;
    padding: 30px;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 90%;
    width: 400px;
}

h1 {
    display: flex;
    font-size: 4.5rem;
    color: #000;
    margin-bottom: 35px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.test-skills {
    background-color: #4CAF50; /* Green background */
    color: #8B0000; /* Dark red text */
}

.youtube-dropdown {
    background-color: #9370DB; /* Light purple background */
    color: #000;
    position: relative;
}

.arrow {
    font-size: 1rem;
    position: absolute;
    right: 15px;
}
