body {
    background-color: #2F4858;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 70px;
    color: black;
    font-weight: bold;
}

.btn {
    display: inline-flex;
    font-size: 20px;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.test-skills {
    background-color: #4CAF50;
    color: white;
}

.dropdown {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #6a1b9a;
    background-color: #b39ddb;
    color: black;
    cursor: pointer;
}
